<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h2>ノート一覧</h2>
    </div>

    <div class="col">
      <ul>
        <li class="nav nav-item">
          <%= link_to "新規ノート作成", new_note_path, class: "btn btn-outline-info" %>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5 class="text-info"><u>ノート数：<%= @user.notes.count %></u></h5>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="table-info">
          <tr>
            <td>作成日</td>
            <td>意見</td>
            <td></td>
          </tr>
        </thead>

        <% @notes.each do |note| %>
        <tbody>
          <tr>
            <td><%= note.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= link_to note.opinion.truncate(20), note_path(note.id) %></td>
            <td><%= link_to "削除", note_path(note.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <%= paginate @notes %>
    </div>
  </div>
</div>
