<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h2>ノート一覧</h2>
    </div>

    <div class="col">
      <ul>
        <li class="nav nav-item">
          <i class="fa-solid fa-file-pen"></i><%= link_to "新規ノート作成", new_note_path %>
        </li>
      </ul>
    </div>

    <div class="col">
      <table>
        <tr>
          <td>ノート数：</td>
          <td><%= @user.notes.count %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="table-info">
          <tr>
            <td>作成日</td>
            <td>意見</td>
            <td></td>
          </tr>
        </thead>

        <% @notes.each do |note| %>
        <tbody>
          <tr>
            <td><%= note.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= link_to note.opinion.truncate(20), note_path(note.id) %></td>
            <td><%= link_to "削除", note_path(note.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= paginate @notes %>
    </div>
  </div>
</div>
