<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h2>ノート詳細</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <tr>
          <th class="table-info">意見</th>
          <td><%= @note.opinion %></td>
        </tr>

        <tr>
          <th class="table-info">経験</th>
          <td><%= @note.experience %></td>
        </tr>

        <tr>
          <th class="table-info">感情</th>
          <td><%= @note.emotion %></td>
        </tr>

        <tr>
          <th class="table-info">価値観</th>
          <td><%= @note.value %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <%= link_to "編集", edit_note_path(@note.id), class: "btn btn-outline-success" %>
    </div>

    <div class="col">
      <%= form_with model: @book_mark_detail, url: book_mark_details_path, method: :post do |f| %>
        <%= f.hidden_field :note_id, :value => @note.id %>
        <%= f.collection_select(:book_mark_id, @book_marks, :id, :name) %>
        <%= f.submit "ブックマークに追加", class: "btn btn-outline-info" %>
      <% end %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <table class="table">
        <% @note.memos.each do |memo| %>
        <tr>
          <td><%= memo.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= memo.memo %></td>
          <td><%= link_to "削除", note_memo_path(memo.note, memo), method: :delete, class: "text-danger" %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="field">
        <table class="table">
          <%= form_with model: [@note,@memo] do |f| %>
          <tr>
            <td><%= f.text_area :memo, placeholder: "メモ", class: "form_control" %></td>
            <td><%= f.submit "メモ追加", class: "btn btn-outline-info" %></td>
          </tr>
          <% end %>
        </table>

      </div>
    </div>
  </div>
</div>
