<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-mt-center">
      <h2>ログイン</h2>
    </div>
  </div>

  <%= form_with model: @user, url: user_session_path do |f| %>

  <div class="row">
    <div class="col">
      <div class="field">
        <%= f.label "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="field">
        <%= f.label "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-success mt-3" %>
      </div>
    </div>
  </div>
  <% end %>

</div>