<!DOCTYPE html>
<html>
  <head>
    <title>ReflectionNote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm bg-info">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "ユーザー情報", user_path, class: "text-white m-2 navbar-brand" %>
              </li>

              <li class="nav-item">
                <%= link_to "ノート一覧", notes_path, class: "text-white m-2 navbar-brand" %>
              </li>

              <li class="nav-item">
                <%= link_to "ブックマーク", book_marks_path, class: "text-white m-2 navbar-brand" %>
              </li>

              <li class="nav-item">
                <%= link_to "About", about_path, class: "text-white m-2 navbar-brand" %>
              </li>

              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white m-2 navbar-brand" %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to "Top", root_path, class: "text-white m-2 navbar-brand" %>
              </li>

              <li class="nav-item">
                <%= link_to "About", about_path, class: "text-white m-2 navbar-brand" %>
              </li>

              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: "text-white m-2 navbar-brand" %>
              </li>

              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: "text-white m-2 navbar-brand" %>
              </li>
              <% end %>
            </ul>
          </div>

        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <%= yield %>
    </main>
    <footer class="bg-info text-white pt-5 bd-4">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <p>︎Reflection Note</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
